.contact{
    /* background-image: url(../../assets//contact_bg.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.section_title, .section_subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.section_subtitle{
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact_container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact_title{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.contact_info{
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact_card{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}

.contact_card-icon{
    font-size: 2rem;
    color: #000;
    margin-bottom: 0.25rem;
}

.contact_card-title,.contact_card-data{
    font-size: 0.8rem;
}

.contact_card-title{
    font-weight: 500;
}

.contact_card-data{
    display: block;
    margin-bottom: 0.75rem;
}

.contact_form{
    width: 360px;
}

.contact_form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #f0e8e8;
    font-weight: 550;
    background-color: #343232;
}

.contact_form-div input{
    font-weight: bold;
    color: black;
}

.contact_form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0,0,0,0.3);
    background: none;
    color: #000;
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
    font-weight: bold;
    color: black;
}

.contact_form-tag{
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: 0.9rem;
    padding: 0.25rem;
    background-color: #fff;
    z-index: 10;
}

.contact_card-data{
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
}

.contact_form-area{
    height: 11rem;
}

.contact_form-area textarea{
    resize: none;
}

/*Breakpoints*/
@media screen and (max-width: 992px) {
    .contact_container{
        column-gap: 3rem;
    }
  }
  @media screen and (max-width: 768px) {
    .contact_container{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .contact_info{
        justify-content: center;
    }
    .contact_form{
        margin: 0 auto;
    }
  }
  @media screen and (max-width: 576px) {
    .contact{
        background-image: none;
    }
    .contact{
        background-image: none;
    }
    .contact_info{
        grid-template-columns: 1fr;
    }
    .contact_form{
        width: 100%;
    }
  }
  @media screen and (max-width: 350px) {
    
  }